@model Homework3.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactName" class="control-label"></label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label"></label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhoneType" class="control-label"></label>
                <input asp-for="ContactPhoneType" class="form-control"></input>
                <span asp-validation-for="ContactPhoneType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAge" class="control-label"></label>
                <input asp-for="ContactAge" class="form-control" />
                <span asp-validation-for="ContactAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNotes" class="control-label"></label>
                <input asp-for="ContactNotes" class="form-control" />
                <span asp-validation-for="ContactNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
